.movie-list {
    border: black solid 1px;
    display: flex;
    column-gap: 5%;
    row-gap: 20px;
    overflow-y: auto;
    flex: 1;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 150px;
    color: white;
}

.movie-list h2 {
    color: white;
    font-size: 40px;
    padding-top: 20%;
}
