.search-form {
    background-color: black;
}

/*.pages {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    column-gap: 20px;*/
/*    background-color: black;*/
/*    color: #9b9b9b;*/
/*}*/

.search-form-inputs {
    display: flex;
}

.search-form-body {
    padding: 10px;
}

.search-form-inputs {
    justify-content: center;
}

.search-form-input-text {
    display: flex;
    column-gap: 20px;
    width: 40%;
    justify-content: space-evenly;
}

.search-form-input-text input {
    background-color: dimgrey;
    width: 50%;
    color: white;
}
.search-form-input-text button {
    color: white;
    background-color: #3b3b3b;
    width: 25%;
}